:root {
  --colorWhite: #fff;
  --colorPlatinum: #e8ebe4;
  --colorGray: #bec1bb;
  --colorBlueBell: #a491d2;
  --colorSoap: #cdc3e6;
  --colorPaleLavender: #d4dcff;
  --colorDarkJungle: #1b1f21;
  --colorOuterSpace: #444749;
  --colorOldSilver: #828485;
  --fontTitles: "Poppins", sans-serif;
  --fontParagraphs: "Open Sans", sans-serif;
  --textLarge: 4.5rem;
  --textMedium: 1.6rem;
  --textSmall: 1.4rem;
  --textXsmall: 1rem;
}

html {
  box-sizing: border-box;
  font-size: 64%; /* 10px = 1rem */
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: var(--fontParagraphs);
  color: var(--colorDarkJungle);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: var(--fontTitles);
  color: var(--colorDarkJungle);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--colorDarkJungle);
}

a:hover {
  text-decoration: underline;
}

p {
  padding: 0;
  margin: 0;
  font-family: var(--fontParagraphs);
}

.btn-primary {
  background-color: var(--colorBlueBell);
  padding: 3.2rem 9.5rem;
  color: var(--colorWhite);
}

body {
  display: flex;
}

/* Right pannel --------------------------------------- */
body .rightPannel {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body .rightPannel .rightPannel__logo {
  max-width: 26rem;
}

body .rightPannel .rightPannel__logo img {
  width: 100%;
}

body .rightPannel .rightPannel__info h1 {
  text-align: center;
  font-size: var(--textLarge);
}

body .rightPannel .rightPannel__info p {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

body .rightPannel .rightPannel__info p span {
  font-weight: bold;
}

/* Left pannel --------------------------------------- */
body .leftPannel {
  flex-grow: 2;
}
body .leftPannel .leftPannel__profile {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid var(--colorGray);
}
body .leftPannel .leftPannel__profile .leftPannel__profile-imgTitle {
  display: flex;
  align-items: center;
}

body .leftPannel .leftPannel__profile .leftPannel__profile-imgTitle img {
  width: 5rem;
  border: 2px solid var(--colorGray);
  border-radius: 50%;
  margin: 0 1rem;
}

body
  .leftPannel
  .leftPannel__profile
  .leftPannel__profile-imgTitle
  .leftPannel__profile-imgTitle-title
  a {
  font-size: var(--textSmall);
}

body
  .leftPannel
  .leftPannel__profile
  .leftPannel__profile-imgTitle
  .leftPannel__profile-imgTitle-title
  p {
  font-size: var(--textXsmall);
}

body .leftPannel .leftPannel__profile .leftPannel__profile-icons {
  display: flex;
  align-items: center;
}

body .leftPannel .leftPannel__profile .leftPannel__profile-icons img {
  height: 1.8rem;
  margin-right: 1rem;
}

body
  .leftPannel
  .leftPannel__profile
  .leftPannel__profile-icons
  img:last-of-type {
  margin-right: 0rem;
}
